html{
    font-size: 100px; 
    width: 100%;
    overflow: hidden;
    //overflow-y: auto;
    body{
        overflow: hidden;
       // overflow-y: auto;
        height: 100%;
        font-size: 0.12rem;
    }
}
#app{
    width: 100%;
    height: 100%;
  }
.clearfix:after{
    display:block;
    content:"";
    clear:both;
    height:0;
    visibility:hidden;
}
.clearfix{zoom:1;}
/* .active-page{
    color: #1FA4FC;
  } */